[submodule "modules/utils"]
	path = modules/utils
	url = git@github.com:/ganzf/utils
[submodule "modules/fengin-core"]
	path = modules/fengin-core
	url = git@github.com:/ganzf/fengin-core
[submodule "modules/fengin-base"]
	path = modules/fengin-base
	url = git@github.com:/ganzf/fengin-base